{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}


{% block content %}
    <h1>Все новости </h1>
    <h3>{{ time_now|date:'M d Y' }}</h3>
    <h3>количество статей: {{news|length}}</h3>
    <hr>
    {% if news %}
    <table>
        <tr>
            <td>
                Заголовок
            </td>
            <td>
                Дата публикации
            </td>
            <td>
                Текст
            </td>
        </tr>
    {% for post in news %}
        <!--{{ Post.author.authorUser }}:-->
        <tr>
            <td>
                {{ post.title|censor }}
            </td>
            <td>
                {{post.dateCreation|date:'d M Y'}}
            </td>
            <td>
                {{ post.text|truncatechars:50|censor }}
            </td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}